/* General Code */
    .page-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        background-color: beige;
    }


    .header-grid{
        grid-column: 1;
        grid-row: 1;
        display: grid;
        grid-template-columns: auto 100px 100px;
        grid-template-rows: auto;
        border-bottom: 1px solid gray ;
    }

    .title{
        grid-column: 1;
        grid-row: 1;        
    }

    .title>h1{
        font-size: x-large;
        margin-top: 5px;
        margin-left: 5px;
        margin-bottom: 20px;
    }

    .home{
        grid-column: 2;
        grid-row: 1;
        margin-top: auto;
    }

    .projects{
        grid-column: 3;
        grid-row: 1;
        margin-top: auto;
    }

    .footer{
        grid-column: 1;
        grid-row: 3;
        border-top: 1px solid gray ;
    }

/* General Code */

/* Main Page */

    .main-page{
        grid-column: 1;
        grid-row: 2;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto;
    }

    .main-content{
        grid-column: 1;
        grid-row: 1;
    }

    .main-image{
        grid-column: 2;
        grid-row: 1;    
    }

    .main-image>img{
        width: 400px;
        height: 400px;
    }

/* Main Page */